



@import './bootstrap.scss';


html{
	height: 100%;
	width: 100%; 
	font-size: 100%;
    overflow-x: hidden; ///// ????? //////
}

body {
  width: 100%;
  height: 100%;
//overflow-wrap: break-word;
//background-color: $verttexte;
}



/**********LOADER**********/

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid $blanc;
    border-radius: 50%;
    border-top: 16px solid $orange;
    border-bottom: 16px solid $vertfond;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




/*****************TYPOS********************/

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura-pt-extrabold.otf');
}

@font-face {
    font-family: 'futurademi';
    src: url('../fonts/FuturaPTDemi.otf');
}

@font-face {
    font-family: 'oliver';
    src: url('../fonts/Oliver-ehco.otf');
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

/*
.anim{
animation: fadeAppear 2s ease-in-out 1s forwards;
}*/

//container .stats .stat:nth-child(1){animation-delay: .3s}

/*********************HEADER**************************/

header{
    background-color: $vertclair;    
    color: $vertprincipal;
    font-family: futurademi;
    //font-weight: 200;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1rem;   
    line-height: 40px; /*initial*/
    //line-height: 30px;
}
/*
header h1{
    font-size: 1rem;   
    margin-bottom: 0;
}*/



.drapeau{
    height: 20px;
}

.rs{
    height: 25px;
}

.lang-off{
    color : #C6E65E;
}


/*********************MENU**************************/

.navbar{
    background-color: $vertprincipal;
    padding-left: 15%;
    padding-right: 15%;
}



/*
.navbar-collapse{
    @extend %flex-center;
}*/

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.nav-link{
    color: $blanc;
    font-size: $fontsizemenu;
    font-weight: bold;
    font-family: futura ;
}

.nav-link:hover, .nav-link:focus, .dropdown-item:hover, .dropdown-item:focus{
    color: $orange; /*vertclair*/
    //background-color: #fff;
}

.dropdown-item:hover, .dropdown-item:focus{
    background-color: #fff;
}

.dropdown{
    text-align: center;
}

.dropdown-menu{
    border-radius: 0%;
    border: none;
    text-align: center;
    //background-color: red;
}

.dropdown-item{
    color: $vertprincipal;
    font-size: $fontsizemenu;
    font-weight: bold;
    font-family: futura;
}


.navbar-collapse{
    margin-bottom: 0;
}

.navbar-collapse.show{
    margin-bottom: 2rem;
}


/*https://jsfiddle.net/njhgr40m/*/
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: $orange;
    display: block;
    transition: all 0.5s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: $blanc;
}


.boncadeau{
    width: 100px;
    position: fixed;
    background-color: $orangeclair;
    font-family: 'futura', Arial, sans-serif;
    font-size: .8rem;
    z-index: 9999;
    color: #d94a1f; //$orange;
    box-shadow: 6px 6px 30px #00000029;
    text-align: center;
    right: 0px;
    top: 45%;
}

/********************HP*********************/


  main {
    //flex: 1;
    display: flex;
    flex-direction: column;
  }


.top-content {
    width: 100%;
    padding: 0;
}

/******CAROUSEL*****/
 


/*https://azmind.com/bootstrap-carousel-full-screen/*/
.top-content .carousel-control-prev {
    border-bottom: 0;
}
 
.top-content .carousel-control-next {
    border-bottom: 0;
}
 
.top-content .carousel-caption {
    padding-bottom: 60px;
}
 
.top-content .carousel-caption h1 {
    padding-top: 1rem;
    color: #fff;
    font-family: raleway;
    font-size: 2rem;
}
 
.top-content .carousel-caption h3 {
    color: #fff;
}
 
.top-content .carousel-caption .carousel-caption-description {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
 
.top-content .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.top-content .carousel-item {
    height: calc(100vh - 124px); /*** calculer hauteur header + nav***/
    min-height: 400px;
    //right: 5%;
    //left: 5%;
}
 
.top-content .carousel-item .fond {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.carousel-caption>img{
    max-width: 60%;
}

/*
@media (max-width: 575px) {
 
    .top-content .carousel-item {
        max-height: 400px;
    }
 
}*/

.top-content .carousel-caption{
    top: 1.25rem;
    //position: absolute;
    right: 5%;
    left: 5%;
    z-index: 2;
}

.top-content .caption-bottom{
    position: absolute;
    bottom: 5rem;
    right: 5%;
    left: 5%;
    font-family: futura;
}

.top-content .carousel-indicators{
    bottom: 5rem;
}


.test-sejours{
    background-color: rgba(157, 196, 26, 0.7); 
    color: inherit;
    padding: 1rem;
    //padding-right: 2rem;
    //padding-left: 2rem;
    border-radius: 2rem;
    //border: 4px solid black;
    display: grid;
    //translate: (0,0);
    transition: transform ease-out .08s;
}

.test-sejours:hover{
    color: $blanc;
    background-color: rgba(157, 196, 26, 0.9); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    box-shadow: 6px 6px 15px #00000059;
    //border: 2px solid black;
    translate: (3.5px,2px);
    transition: transform ease-out .08s;
    //box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    //transform: translateY(0.25em);
    transform: translate(0.25em,0.25em);
}




// Size can also be negative; see how it's smaller than the element
/*.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}*/


.test-sejours h2, .test-habitats h2{
    position: relative;
    margin-bottom: -5px;
    z-index: 1;

}

.test-sejours h3{
    position: relative;
    display: inline-flex;
    justify-self: center;
    z-index: 0;
    font-family: oliver;
    font-size: 1rem;
    background-color: $verttexte;
    rotate: -4deg;
    //width: 75%;
    margin-left: 20%;
    //margin-top: -10px; //0.7rem;
    padding: 0.25rem;
}

.test-habitats{
    background-color: rgba(255, 153, 0, 0.7); 
    padding: 1rem;
    color: inherit;
    //padding-left: 2rem;
    border-radius: 2rem;
    border-radius: 2rem;
    display: grid;
//translate: (0,0);
transition: transform ease-out .08s;
}

.test-habitats:hover{
color: $blanc;
background-color: rgba(255, 153, 0, 0.9);  
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
box-shadow: 6px 6px 15px #00000059;
//border: 2px solid black;
translate: (3.5px,2px);
transition: transform ease-out .08s;
//box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
//transform: translateY(0.25em);
transform: translate(-0.25em,0.25em);
}




.test-habitats h3{
    position: relative;
    display: inline-flex;
    justify-self: center;
    z-index: 0;
    font-family: oliver;
    font-size: 1rem;
    background-color: $orange;
    rotate: -4deg;
    //width: 75%;
    margin-left: 20%;
    //margin-top: -0.7rem;
    padding: 0.25rem;
}

.flechesbas{
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.bienvenue{
    background-color: $vertfond;
    min-height: 200px;
    padding-bottom: 12rem;
}

.bienvenue h2{
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 4rem;
    color: #fff;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
}

.bienvenue span{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 2rem;
    background-color: $verttexte;
    rotate: -4deg;
    margin-left: 15%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }


.bienvenue .foret1{
    position: relative;
    margin-top: -6vh;
    max-height: 300px;
    //margin-left: 8vw;
}

.bienvenue .foret2{
    position: relative;
    margin-top: -6vh;
    max-height: 300px;
    //margin-right: 8vw;
    }

.bienvenue p{
    font-family: raleway;
    color: #fff;
    //font-weight: 600;
    font-size: 1.2rem;
}



.sejours{
    margin-top: -8rem;
    background-color: #fff;
    border-radius: 5rem;
}

.sejours h2{
    color: $verttexte;
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}

.sejours .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: $vertprincipal;
    rotate: -4deg;
    margin-left: 25%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sejours p{
    font-family: raleway;
    color: $verttexte;
    //font-weight: 600;
    font-size: 1.2rem;
}
    


.sejours .foret3{
    position: relative;
    margin-top: -10vh;
    max-height: 300px;
    //margin-left: 8vw;
}

.sejours .foret4{
    position: relative;
    margin-top: -6vh;
    max-height: 300px;
    //margin-right: 8vw;
}




.swiper_hp_sejours .entry-excerpt {
    display: none;
}

.swiper_hp_sejours .cs-video-wrapper {
    display: none;
}

.swiper-wrapper {
    height: auto;
}

.englobe_swiper_hp_sejours {
    //background-color: #f2f4f6;
    position: relative !important;
    margin-top: 16px;
}
.swiper_hp_sejours {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
}
/*
.swiper_hp_sejours .swiper-slide-content {
    padding: 20px;
}*/

.swiper-button-prev, .swiper-button-next {
    top: 45% !important;
    //top: 12.5rem !important;
    /*width: 63px !important;
    height: 63px !important;
    margin-top: 0 !important;*/
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none;
}



.swiper-button-prev::before, .swiper-button-next::before {
    width: 14px !important;
    height: 14px !important;
}

.swiper-slide {
    background: #fff;
    margin-left: 5px;
    box-shadow: 6px 6px 30px #00000029;
    position: relative;
    //border-radius: 8px;
    /*overflow: hidden;
    height: 400px !important;
    min-height: 384px !important;
    max-height: 400px !important;*/
}

.swiper-slide h4 {
    font-size: 24px;
}



.swiper-slide .entry-more {
    display: none;
}


.swiper-slide .post-categories li {
    padding-left: 0 !important;
    background-color: transparent !important;
}

.swiper-slide .post-categories a {
    font-size: 10px !important;
    color: #455775 !important;
}

.swiper_hp_sejours .entry-excerpt {
    margin-bottom: 17px !important;
}

.swiper_hp_sejours .swiper-wrapper {
    padding: 0 20px 0 0;
}
/*
.swiper_slide_homepage_top img {
    height : auto;
}*/



.prix-sejour{
    position: absolute;
    top:15px;
    right: -15px;
    background-color: $verttexte;
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(5deg);
}

.a-partir{
    font-family: oliver;
    font-size: 0.5rem;
    color: $blanc;
}

.prix{
    color: $blanc;
    font-family: futura;
    font-size: 1.5rem;
}


.container-titre-sejours{
    position: relative;
    margin-top: -35px;
    display: flex;
    height: 70px;
}




.bande-titre-sejours{
    background-color: $vertprincipal;
    font-family: oliver;
    color: $verttexte;
    font-size: 1.2rem;
    margin-left: -5px;
    padding-left: 1.5rem;
    width: 80%;
    //margin-top: -1rem;
    //margin-left: -0.3rem;
}

.bande-titre-sejours a{
color: inherit;
}

.bande-titre-sejours h4{
    background-color: $vertprincipal;
    color: #fff;
    font-family: futura;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0.5rem;

    //text-align: center;
}

.arrow-top {
    width: 0%; 
    height: 0; 
    border-left: 25px solid $vertprincipal; 
    border-right: 0px solid transparent;
    border-bottom: 35px solid transparent;
    background-color: transparent!important;
    margin-left: -1px;
  }

  .arrow-bot {
    width: 0%; 
    height: 0; 
    border-left: 25px solid $vertprincipal; 
    border-right: 0px solid transparent;
    border-top: 35px solid transparent;
    background-color: transparent!important;
    margin-left: -26px;
    margin-top: 35px;
  }

.arrow-upright {
    width: 0%; 
    height: 0; 
    border-left: 0px solid transparent; 
    border-right: 5px solid $verttexte;
    border-bottom: 5px solid transparent;
    background-color: transparent!important;
    margin-left: -5px;
  }
  

.meta-category a{
    font-family: raleway;
    font-weight: 200;
    font-size: 0.7rem;
    color: #fff;
    background-color: $verttexte;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0.2rem;
    text-transform: uppercase;
}

.meta-category a:hover{
    //color: $verttexte;
    //background-color: $blanc;
    opacity: 50%;
}

.description{
    font-family: futurademi;
    color: $verttexte;
    font-size: 1rem;
}

.description strong{
    text-transform: uppercase;
    letter-spacing: 0.14px;
}

.details-sejours{
    color: $vertprincipal;
    font-family: raleway;
    font-size: 0.8rem;
}

.dates-sejours{
    display: flex;
    //justify-content: space-between;
}

.date-sejour{
    font-family: futurademi;
    font-size: 0.6rem;
    color: $vertprincipal;
    background-color: $blanc;
    border-radius: 3px;
    border: 1px solid $vertprincipal;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin: 0;
    text-transform: uppercase;
}

.date-sejour:hover{
    background-color: $vertprincipal;
    color: $blanc;
}



.cta-main {
    position: relative;
    z-index: 0;
    display: inline-block
}

.cta-main button:hover {
    transform: translate(8px,4px);
    transition: transform ease-out .08s
}

.cta-main button {
    border-radius: 73px;
    border: none;
    font-family: futura;
    font-size: 1.8rem;
    letter-spacing: 0px;
    color: $blanc;
    line-height: 1.5rem;
    padding: 3.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    transform: translate(0,0);
    transition: transform ease-in .08s;
}

.cta-main::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3FA535;
    position: absolute;
    z-index: -1;
    top: 4px;
    right: -8px;
    display: inline-block;
    border-radius: 1000px;
}



.btn-reserver-sejour{
    background: $vertprincipal 0% 0% no-repeat padding-box;
}

.btn-reserver-sejour span{
    font-family: raleway;
    font-size: 1rem;
}

/*
.btn-reserver-sejour:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: translate(2px,2px);
    transition: transform ease-out .08s;
}

.btn-reserver-sejour::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    top: 2px;
    right: -4px;
    display: inline-block;
    border-radius: 1000px
}
*/

.habitats{
    background-color: #FEFFEB;
    padding-bottom: 12rem;
}


.habitats h2{
    color: $orange;
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}

.habitats .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: $orangeclair;
    rotate: -4deg;
    margin-left: 25%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.habitats p{
    font-family: raleway;
    color: $orangeclair;
    //font-weight: 600;
    font-size: 1.2rem;
}


.habitats .foret5{
    position: relative;
    //margin-top: -10vh;
    //max-height: 300px;
    object-fit: cover;
}

.habitats .foret6{
    position: relative;
   // margin-top: -6vh;
    //max-height: 300px;
    object-fit: cover;
}
/*
.sejours .foret4{
    position: relative;
    margin-top: -6vh;
    max-height: 300px;
}
*/



.swiper_hp_habitats .entry-excerpt {
    display: none;
}

.swiper_hp_habitats .cs-video-wrapper {
    display: none;
}

.swiper-wrapper {
    height: auto;
}

.englobe_swiper_hp_habitats {
    //background-color: #f2f4f6;
    position: relative !important;
    margin-top: 16px;
    background-color: $blanc;
    border-radius: 103px;
}
.swiper_hp_habitats {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 3rem;
    padding-bottom: 2rem;

}

/*
.swiper-button-prev, .swiper-button-next {
    top: 45% !important;

}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none;
}



.swiper-button-prev::before, .swiper-button-next::before {
    width: 14px !important;
    height: 14px !important;
}

.swiper-slide {
    background: #fff;
    margin-left: 5px;
    box-shadow: 6px 6px 30px #00000029;
    position: relative;
}

.swiper-slide h4 {
    font-size: 24px;
}



.swiper-slide .entry-more {
    display: none;
}


.swiper-slide .post-categories li {
    padding-left: 0 !important;
    background-color: transparent !important;
}

.swiper-slide .post-categories a {
    font-size: 10px !important;
    color: #455775 !important;
}*/

.swiper_hp_habitats .entry-excerpt {
    margin-bottom: 17px !important;
}

.swiper_hp_habitats .swiper-wrapper {
    padding: 0 20px 0 0;
}




.prix-habitats{
    position: absolute;
    top:15px;
    right: -15px;
    background-color: $orange;
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(5deg);
}

.a-partir{
    font-family: oliver;
    font-size: 0.5rem;
    color: $blanc;
}

.prix{
    color: $blanc;
    font-family: futura;
    font-size: 1.5rem;
}


.container-titre-habitats{
    position: relative;
    margin-top: -35px;
    display: flex;
    height: 70px;
}

.bande-titre-habitats{
    background-color: $orangeclair;
    font-family: oliver;
    color: #FFF9BA;
    font-size: 1.2rem;
    margin-left: -5px;
    padding-left: 1.5rem;
    width: 80%;
    //margin-top: -1rem;
    //margin-left: -0.3rem;
}

.bande-titre-habitats h4{
    background-color: $orangeclair;
    color: #fff;
    font-family: futura;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0.5rem;

    //text-align: center;
}

.swiper_hp_habitats .arrow-top {
    width: 0%; 
    height: 0; 
    border-left: 25px solid $orangeclair; 
    border-right: 0px solid transparent;
    border-bottom: 35px solid transparent;
    background-color: transparent!important;
  }

  .swiper_hp_habitats .arrow-bot {
    width: 0%; 
    height: 0; 
    border-left: 25px solid $orangeclair; 
    border-right: 0px solid transparent;
    border-top: 35px solid transparent;
    background-color: transparent!important;
    margin-left: -25px;
    margin-top: 35px;
  }

  .swiper_hp_habitats .arrow-upright {
    width: 0%; 
    height: 0; 
    border-left: 0px solid transparent; 
    border-right: 5px solid $orange;
    border-bottom: 5px solid transparent;
    background-color: transparent!important;
    margin-left: -5px;
  }
  

  .swiper_hp_habitats .meta-category a{
    background-color: $orange;
}

.description{
    font-family: raleway;
    color: $verttexte;
    font-size: 1rem;
}

.description strong{
    font-family: futurademi;
    text-transform: uppercase;
    letter-spacing: 0.14px;
}


.details-habitats{
    color: $vertprincipal;
    font-family: raleway;
    font-size: 0.8rem;
}

.btn-reserver-habitat{
    background: $orangeclair 0% 0% no-repeat padding-box;
    /*box-shadow: 6px 6px 15px #00000059;
    border-radius: 73px;
    border: none;
    font-family: futura;
    font-size: 1.8rem;
    letter-spacing: 0px;
    color: $blanc;
    line-height: 1.5rem;
    padding: 3.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;*/

}

.cta-main-orange::after {
    background-color: $orange;
}

.cta-main-blanc::after {
    background-color: $vertclair;
}

.btn-reserver-habitat span{
    font-family: raleway;
    font-size: 1rem;
}

/*.btn-reserver-habitat:hover{
    //opacity: 0.8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}*/




.description-habitats{
    color: $orangeclair;
    font-family: raleway;
    font-size: 1rem;
}


//////////HP ACTIVITES////////////////////

.activites{

    background-color: $vertprincipal;
    color: $blanc;
} 

.activites .container{
    background-color: $vertprincipal;
    color: $blanc;
    margin-top: -8rem;
    border-radius: 5rem;
} 


.activites .foret7{
    position: relative;

   //object-fit: cover;
}

.activites .foret8{
    position: relative;
   margin-top: -9vh;

    //object-fit: cover;
}

.activites h2{
    color: $blanc;
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}

.activites .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: $verttexte;
    rotate: -4deg;
    margin-left: 25%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.activites p{
    font-family: raleway;
    color: $blanc;
    //font-weight: 600;
    font-size: 1.2rem;
}

.btn-activites{
    background: $vertbtn 0% 0% no-repeat padding-box;
    /*box-shadow: 6px 6px 15px #00000059;
    border-radius: 73px;
    border: none;
    font-family: futura;
    font-size: 1.8rem;
    letter-spacing: 0px;
    color: $blanc;
    line-height: 1.5rem;
    padding: 3.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;*/

}

.btn-activites span{
    font-family: raleway;
    font-size: 1rem;
}
/*
.btn-activites:hover{
    //opacity: 0.8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}*/
.activites h4{
    color: $blanc;
    font-family: futura;
    font-size: 1.2rem;
}

.activites .grasvert{
    font-weight: bold;
    color: $verttexte;
}


///////////////////FOOTER//////////////////

footer{
    background-color: $verttexte;
}

footer h2{
    color: $blanc;
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}

footer .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: $vertfond;
    rotate: -4deg;
    margin-left: 75%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer .ligne{
    border: 2px dashed #FFFFFF;
    height: 1px;
    width: 100%;
}


.btn-footer{
    background: $vertprincipal 0% 0% no-repeat padding-box;
    /*box-shadow: 6px 6px 15px #00000059;
    border-radius: 73px;
    border: none;
    font-family: futura;
    font-size: 1.8rem;
    letter-spacing: 0px;
    color: $blanc;
    line-height: 1.5rem;
    padding: 3.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;*/

}

.btn-footer span{
    font-family: raleway;
    font-size: 1rem;
}
/*
.btn-footer:hover{
    //opacity: 0.8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}*/

footer address{
    font-family: futurademi;
    color: $blanc;
    font-size: 1.3rem;
}

footer address strong{
    font-family: futura;
    color: $blanc;
}

footer .mentions{
    color: $vertfond;
    font-family: futura;
    font-size: 1.3rem;
}

footer .credits{
    color: #4CC95D;
    text-align: end;
    font-size: 0.9rem;
}





//////////PAGES//////////////////


.page-top{
    height: calc(100vh - 140px);
    background-size: cover;
    background-position: bottom;
}



//////////PAGE ECOLIEU//////////////////
.ecolieu{
    margin-top: -40vh;
    background-color: #fff;
    border-radius: 5rem;
    padding-bottom: 12rem;
}

.ecolieu h2{
    color: $verttexte;
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}

.ecolieu .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: $vertprincipal;
    rotate: -4deg;
    margin-left: 25%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ecolieu p{
    font-family: raleway;
    color: $verttexte;
    //font-weight: 600;
    font-size: 1.2rem;
}


.medoc-top{
    height: calc(100vh - 140px);
    background-size: cover;
    background-position: top;
}


.medoc{
    margin-top: -40vh;
    background-color: #fff;
    border-radius: 5rem;
    padding-bottom: 5rem;
    z-index: 9;
}

.cartemedoc{
    margin-top: -8rem;
    //margin-right:-1.2rem;
    overflow: hidden;
    //background-image: url("./assets/img/ecolieu/médoc.png");
    //background-size: cover;
    //background-repeat: no-repeat;
    background-color: #D1EFFF;
    //height: 1400px; 
    position: relative;
}

.cartemedoc .box{
    box-shadow: 6px 6px 40px #00000029;
    font-family: raleway;
    color: #A0C622;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #fff;
    padding: 4vw;
    text-align: center;
    /*position: relative;
    right: 50px;
    top: 50px;*/
    position: absolute; 
    top: 200px; 
    left: -25vw; 
    width: 25vw; 
}

/*
.cartemedoc .box img{
    position: absolute; 
    top: 200px; 
    left: -25vw; 
    width: 25vw; 
}*/

.cartemedoc .box img{
    position: absolute;
    bottom: -70px;
    left: -70px;
}

.image { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 

.cartemedoc .imgcarte{
    margin-top: -1rem;
}


.commentvenir h2{
    color: $verttexte;
    //font-family: futura;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}

.commentvenir .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.8rem;
    background-color: $vertprincipal;
    rotate: -4deg;
    margin-left: 20%;
    margin-top: -1.1rem;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.question{
    position: relative;
    bottom: -25px;
    right:0px;
}

.commentvenir p{
    font-family: raleway;
    color: $verttexte;
    font-size: 1.2rem;
    font-weight: 600;
}


.soustitretransport{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.9rem;
    background-color: $vertprincipal;
    rotate: -7deg;
    margin-top: -1.1rem;
    padding: 0.2rem;
    //padding-left: 0.3rem;
    //padding-right: 0.3rem;
}

.lignetransport{
    background-image:url(../img/ligne.png);
    background-repeat: repeat-x;
    background-position: center;
}


.textetransport{
    font-family: raleway;
    font-weight: 600;
    color: #A0C622;
    font-size: 1.2rem;
}



.btn-calcul{
    background: $vertprincipal 0% 0% no-repeat padding-box;
    font-size: 1.4rem!important;
    padding: 0.8rem!important;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    line-height: 1rem!important;

}

.btn-calcul span{
    font-family: raleway;
    font-size: 0.8rem;
    line-height: 1rem!important;

}

/////////////////PAGE HABITATS///////////////

.pagehabitats, .pagesejours{
    margin-top: -40vh;
    background-color: #fff;
    border-radius: 5rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    //padding-bottom: 12rem;
    //width: 90%;
    //margin-right: 10%;
    //margin-left: 10%;
}
/*
.pagesejourscontent{
    margin-top: 0;
}*/


.pagehabitats h2{
    color: #FF6F44;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}


.pagehabitats .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: #FF9900;
    rotate: -4deg;
    margin-left: 25%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pagehabitats p{
    font-family: raleway;
    color: #FF9900;
    font-size: 1.2rem;
}


.container_habitats {
    //width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 3rem;
    padding-bottom: 2rem;

}



.boxhabitat {
    background: #fff;
    margin-left: 5px;
    box-shadow: 6px 6px 30px #00000029;
    position: relative;
    //border-radius: 8px;
    /*overflow: hidden;
    height: 400px !important;
    min-height: 384px !important;
    max-height: 400px !important;*/
}

.boxhabitat h4 {
    font-size: 24px;
}



.boxhabitat .entry-more {
    display: none;
}


.boxhabitat .post-categories li {
    padding-left: 0 !important;
    background-color: transparent !important;
}

.boxhabitat .post-categories a {
    font-size: 10px !important;
    color: #455775 !important;
}


.container_habitats .arrow-top {
    width: 0%; 
    height: 0; 
    border-left: 25px solid $orangeclair; 
    border-right: 0px solid transparent;
    border-bottom: 35px solid transparent;
    background-color: transparent!important;
  }

  .container_habitats .arrow-bot {
    width: 0%; 
    height: 0; 
    border-left: 25px solid $orangeclair; 
    border-right: 0px solid transparent;
    border-top: 35px solid transparent;
    background-color: transparent!important;
    margin-left: -25px;
    margin-top: 35px;
  }

  .container_habitats .arrow-upright {
    width: 0%; 
    height: 0; 
    border-left: 0px solid transparent; 
    border-right: 5px solid $orange;
    border-bottom: 5px solid transparent;
    background-color: transparent!important;
    margin-left: -5px;
  }
  

  .container_habitats .meta-category a{
    background-color: $orange;
}


.seminaires{
    height: 80vh;
    background-size: cover;
    background-position: center; 
    background-image: url(../img/ecolieu/seminaires.jpg);
    display: flex;
    align-items: center;
    //justify-items: center;
    text-align: center;
    color:$blanc;
    font-size: 1.7rem;
}


/////////////////PAGE SEJOURS///////////////

.pagesejours h2{
    color: $verttexte;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    line-height: 3.8rem;
}



.pagesejours .soustitre{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 1.5rem;
    background-color: $vertprincipal;
    rotate: -4deg;
    margin-left: 25%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pagesejours p{
    font-family: raleway;
    color: $verttexte;
    font-size: 1.2rem;
}


.container_sejours {
    //width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    padding: 3rem;
    padding-bottom: 2rem;

}



.boxsejour {
    background: #fff;
    margin-left: 5px;
    box-shadow: 6px 6px 30px #00000029;
    position: relative;
    //border-radius: 8px;
    /*overflow: hidden;
    height: 400px !important;
    min-height: 384px !important;
    max-height: 400px !important;*/
}

.boxsejour h4 {
    font-size: 24px;
}



.boxsejour .entry-more {
    display: none;
}


.boxsejour .post-categories li {
    padding-left: 0 !important;
    background-color: transparent !important;
}

.boxsejour .post-categories a {
    font-size: 10px !important;
    color: #455775 !important;
}



/////////////////FICHE ECOHABITAT///////////////

.container-titre-sejours.page{
    position: relative;
    margin-top: -100px;
    display: flex;
    height: auto;
   //height: 70px;
}
/*
.p15{
    padding-left: 15%;
    padding-right: 15%;
}
*/



.titrepagesejour{
    //margin-top: -40vh;
    //background-color: $orangeecohabitat;
    //background-color: rgba(216,130,81,0.25);
    background-color: #FEFFEB;
    //color: $orangeecohabitat;
    //color: $vertprincipal;
    color: $vertfond;
    font-family: futura;

    //min-height: 15vh;
    //max-width: 90%;
    //margin: auto,
    //margin-left: auto;
    //margin-right: auto;

}




.imgfamille{
    width: 80px;
}

.bande-titre-sejours.ecohabitat{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.bande-titre-sejours.ecohabitat h1{
    margin-top: 0;
    font-family: futura;
}

.ecohabitat, .ecohabitat h1{
    //background-color: $orangeecohabitat;
    color: $blanc;
    font-size: 2rem;
}

.ecohabitat h1{
    font-size: 4.5rem;
}

.duree{
    font-size: 2rem;
}

.nb{
    font-size: 3rem;
    line-height: 2.2rem;
}

.jours{
    font-size: 1.5rem;
}

/*
.arrow-top.ecohabitat{
    border-left: 25px solid $orangeecohabitat; 
    
}*/

.arrow-top.ecohabitat{
    border-left: 65px solid $vertprincipal; //$orangeecohabitat; 
    border-bottom: 100px solid transparent; 
    margin-left: 0px;
    
}

.arrow-bot.ecohabitat{
    border-left: 65px solid $vertprincipal; //$orangeecohabitat; 
    border-top: 100px solid transparent;
    margin-top: 100px;
    margin-left: -65px;
    
}


.titrepagesejour, .presentation, .hebergements, .avantages, .programme, .enimages, .infospratiques, .detailsduprix{
    background-color: $blanc;
    //min-height: 50vh;
    padding-left: 10%;
    padding-right: 10%;
}

.presentation h2, .hebergements h2, .programme h2, .enimages h2, .infospratiques h2, .detailsduprix h2{
    font-family: futura;
    font-size: 3rem;
    color: $verttexte;
}


.avantages{
background-color: $verttexte;
}

.avantages h2{
    font-family: futura;
    font-size: 3rem;
    color: $blanc;
}

/*
.description{
    text-align: justify;
}*/


.jour{
    background-color: $vertfond;
    border-radius: 28px;
    border: none;
    font-family: futura;
    font-size: 1.5rem;
    letter-spacing: 0px;
    color: $blanc;
    //line-height: 1.5rem;
    padding: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    //transform: translate(0,0);
    //transition: transform ease-in .08s;
}

.ligneprogramme{
    background-image:url(../img/ligneverti.png);
    background-repeat: repeat-y;
    background-position: center;
    text-align: center;
}

.aprem{
    font-family: futura;
    color: $vertfond;
}

.img-telecharger{
    rotate: 90deg;
}


.cta-main button.btn-telecharger{
    color:$verttexte;
    border-color: $verttexte;
    background-color: $blanc;
    //border-radius: 28px;
    border: 2px solid;
    font-family: futura;
    font-size: 1.5rem;
    letter-spacing: 0px;
    //line-height: 1.5rem;
    //padding: 1.5rem;
    //padding-bottom: .5rem;
    //padding-top: .5rem;
}

.avantagestxt{
    font-family: raleway;
    color: $blanc;
}

.detailsduprix h3{
 color: $verttexte;
 font-size: 2rem;
 font-family: futura;
}

.listsmile{
    list-style-type: none;
}


///////////////////RESPONSIVE//////////////////


@media (min-width: 1500px) {

    .ecolieu, .pagehabitats,.pagesejours{
       // margin-top: -25vh;
       max-width: 90%;

    }
}

@media (max-width: 1500px) {
    .navbar{
        background-color: $vertprincipal;
        padding-left: 8%;
        padding-right: 8%;
    }

    header{
        padding-left: 8%;
        padding-right: 8%;
    }

    .ecolieu, .pagehabitats,.pagesejours{
        margin-top: -25vh;
        max-width: 95%;

    }

    .titrepagesejour, .presentation, .hebergements, .avantages, .programme, .enimages, .infospratiques, .detailsduprix{
        padding-left: 5%;
        padding-right: 5%;
    }

}

@media (max-width: 1200px) {
    .navbar{
        background-color: $vertprincipal;
        padding-left: 5%;
        padding-right: 5%;
    }

    .cartemedoc .box{
        display: none;
    }

    
    .ecolieu, .pagehabitats,.pagesejours{
        margin-top: -25vh;
        max-width: 100%;

    }




}


@media (max-width: 992px) {
 
html{
    font-size: 90%;
}

.ecolieu, .pagehabitats,.pagesejours{
    margin-top: -20vh;
   

}

    .test-sejours{
        //padding: 0.5rem;
        //border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .top-content .carousel-indicators {
        display: none;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none!important
    }

    .boncadeau{
        display: none;
    }

/*
    .soustitretransport{
        position: relative;
        z-index: 0;
        display: inline-block;
        font-family: oliver;
        color: $blanc;
        font-size: 1.5rem;
        background-color: $vertprincipal;
        rotate: -7deg;
        margin-top: -1.1rem;
        padding: 0.2rem;
    }*/


}



@media (max-width: 767px) {
 
   /* h1, h2 {
        font-size: 22px;
       
    }*/
 
    .top-content .carousel-caption {
        bottom: 20px;
    }
 
   /* .bienvenue h2, .sejours h2, .habitats h2{
        font-size: 75%;
    }
*/

    html {
        font-size: 85%;
        }



}


@media (max-width: 600px){
    .englobe_swiper_hp_sejours {
        margin-left: 8px !important;
    }
}
 
@media (max-width: 575px) {
 
    .top-content .carousel-caption {
        bottom: 10px;
        padding-bottom: 20px;
    }
 
    /*.top-content h1, 
    .top-content h2, 
    .top-content h3 {
        font-size: 80%;
    }*/


    .bienvenue h2, .habitats h2, .sejours h2,.activites h2{
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    .flechesbas{
        bottom: 0.5rem;
    }
 

    html {
        font-size: 75%;
        }

}