


@import './bootstrap.scss';


/*****************TYPOS********************/

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura-pt-extrabold.otf');
}

@font-face {
    font-family: 'futurademi';
    src: url('../fonts/FuturaPTDemi.otf');
}

@font-face {
    font-family: 'oliver';
    src: url('../fonts/Oliver-ehco.otf');
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}


/*********************HEADER**************************/

header{
background-color: $vertclair;    

}

header{
    color: $vertprincipal;
    font-family: futurademi;
    //font-weight: 200;
    padding-left: 9%;
    padding-right: 9%;
    font-size: 1rem;   
    line-height: initial;
    //line-height: 30px;
}
/*
header h1{
    font-size: 1rem;   
    margin-bottom: 0;
}*/



.drapeau{
    height: 20px;
}

.rs{
    height: 25px;
}

.lang-off{
    color : #C6E65E;
}

/*********************BODY**************************/


body {
    //display: flex; 
    //flex-direction: column;
    //margin: 0;
    height: 200vh;
  }
  


/*********************MENU**************************/

.navbar{
    background-color: $vertprincipal;
    padding-left: 9%;
    padding-right: 9%;
}



/*
.navbar-collapse{
    @extend %flex-center;
}*/

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.nav-link{
    color: $blanc;
    font-size: $fontsizemenu;
    font-weight: bold;
    font-family: futura ;
}

.nav-link:hover, .nav-link:focus, .dropdown-item:hover, .dropdown-item:focus{
    color: $orange; /*vertclair*/
}

.dropdown{
    text-align: center;
}

.dropdown-menu{
    border-radius: 0%;
    border: none;
    text-align: center;
    //background-color: red;
}

.dropdown-item{
    color: $vertprincipal;
    font-size: $fontsizemenu;
    font-weight: bold;
    font-family: futura;
}


.navbar-collapse{
    margin-bottom: 0;
}

.navbar-collapse.show{
    margin-bottom: 2rem;
}


/*https://jsfiddle.net/njhgr40m/*/
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: $orange;
    display: block;
    transition: all 0.5s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: $blanc;
}


/********************HP*********************/


  main {
    flex: 1;
  }


.top-content {
    width: 100%;
    padding: 0;
}

/******CAROUSEL*****/
 


/*https://azmind.com/bootstrap-carousel-full-screen/*/
.top-content .carousel-control-prev {
    border-bottom: 0;
}
 
.top-content .carousel-control-next {
    border-bottom: 0;
}
 
.top-content .carousel-caption {
    padding-bottom: 60px;
}
 
.top-content .carousel-caption h1 {
    padding-top: 1rem;
    color: #fff;
    font-family: raleway;
    font-size: 2rem;
}
 
.top-content .carousel-caption h3 {
    color: #fff;
}
 
.top-content .carousel-caption .carousel-caption-description {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
}
 
.top-content .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
}

.top-content .carousel-item {
    height: calc(100vh - 124px); /*** calculer hauteur header + nav***/
    min-height: 400px;
    //right: 5%;
    //left: 5%;
}
 
.top-content .carousel-item .fond {
    height: 100%;
    object-fit: cover;
}



/*
@media (max-width: 575px) {
 
    .top-content .carousel-item {
        max-height: 400px;
    }
 
}*/

.top-content .carousel-caption{
    top: 1.25rem;
    //position: absolute;
    right: 5%;
    left: 5%;
}

.top-content .caption-bottom{
    position: absolute;
    bottom: 5rem;
    right: 5%;
    left: 5%;
    font-family: futura;
}

.top-content .carousel-indicators{
    bottom: 5rem;
}


.test-sejours{
    background-color: rgba(157, 196, 26, 0.7); 
    padding: 1rem;
    border-radius: 2rem;
}



.test-sejours h2, .test-habitats h2{
    position: relative;
    z-index: 1;
}

.test-sejours h3{
    position: relative;
    z-index: 0;
    font-family: oliver;
    font-size: 1rem;
    background-color: $verttexte;
    rotate: -4deg;
    width: 75%;
    margin-left: 25%;
    margin-top: -0.7rem;
    padding: 0.25rem;
}

.test-habitats{
    background-color: rgba(255, 153, 0, 0.7); 
    padding: 1rem;
    border-radius: 2rem;
}



.test-habitats h3{
    position: relative;
    z-index: 0;
    font-family: oliver;
    font-size: 1rem;
    background-color: $orange;
    rotate: -4deg;
    width: 75%;
    margin-left: 25%;
    margin-top: -0.7rem;
    padding: 0.25rem;
}

.flechesbas{
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}




.bienvenue{
    background-color: $vertfond;
    min-height: 200px;
    padding-bottom: 12rem;
}

.bienvenue h2{
    font-family: futura;
    font-size: 4rem;
    color: #fff;
    padding-top: 2rem;
    position: relative;
    z-index: 1;
}

.bienvenue span{
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: oliver;
    color: $blanc;
    font-size: 2rem;
    background-color: $verttexte;
    rotate: -4deg;
    margin-left: 15%;
    margin-top: -1.2rem;
    padding: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    }


.bienvenue .foret1{
    position: relative;
    margin-top: -6vh;
    max-height: 300px;
    //margin-left: 8vw;
}

.bienvenue .foret2{
    position: relative;
    margin-top: -6vh;
    max-height: 300px;
    //margin-right: 8vw;
    }

.bienvenue p{
    font-family: raleway;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}



.sejours{
    margin-top: -8rem;
    background-color: #fff;
    border-radius: 5rem;
}





/*
.bienvenue h3{
position: relative;
z-index: 0;
font-family: oliver;
color: $blanc;
font-size: 2rem;
background-color: $verttexte;
rotate: -4deg;
width: 50%;
margin-left: 25%;
margin-top: -0.7rem;
padding: 0.25rem;
}*/



@media (min-width: 1400px) {
    .navbar{
        background-color: $vertprincipal;
        padding-left: 20%;
        padding-right: 20%;
    }

    header{
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (max-width: 992px) {
 
    .test-sejours{
        //padding: 0.5rem;
        //border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .top-content .carousel-indicators {
        display: none;
    }



}





@media (max-width: 767px) {
 
    h1, h2 {
        font-size: 22px;
        //line-height: 30px;
    }
 
    .top-content .carousel-caption {
        bottom: 20px;
    }
 

}
 
@media (max-width: 575px) {
 
    .top-content .carousel-caption {
        bottom: 0;
        padding-bottom: 20px;
    }
 
    .top-content h1, 
    .top-content h2, 
    .top-content h3 {
        font-size: 18px;
    }

    .flechesbas{
        bottom: 1rem;
    }
 
}