


@import './bootstrap.scss';


/*****************TYPOS********************/

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura-pt-extrabold.otf');
}

@font-face {
    font-family: 'oliver';
    src: url('../fonts/Oliver-ehco.otf');
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}


/********************GLOBAL*********************/

body{
    height: 100vh;
    
    //@extend %flex-center;
}


main{
    height: 100vh;
}






/*********************MENU**************************/

.navbar{
    background-color: $vertprincipal;
    padding-left: 9%;
    padding-right: 9%;
}

@media (min-width: 1400px) {
    .navbar{
        background-color: $vertprincipal;
        padding-left: 20%;
        padding-right: 20%;
    }
}


.navbar-collapse{
    @extend %flex-center;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.nav-link{
    color: $blanc;
    font-size: $fontsizemenu;
    font-weight: bold;
    font-family: futura ;
}

.nav-link:hover, .nav-link:focus, .dropdown-item:hover, .dropdown-item:focus{
    color: $orange; /*vertclair*/
}

.dropdown-menu{
    border-radius: 0%;
    border: none;
    //background-color: red;
}

.dropdown-item{
    color: $vertprincipal;
    font-size: $fontsizemenu;
    font-weight: bold;
    font-family: futura;
}

.navbar-toggler{
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
    border: 0;
}

.navbar-toggler, 
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span{
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $blanc;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
    //margin: 5px auto;
}



.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    transform: rotate(135deg);
    //transform: rotate(-45deg) translate(-5px, 5px);
    background-color: $orange;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-135deg);
    //transform: rotate(45deg) translate(-5px, 5px);
    background-color: $orange;
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: $blanc;
    //background: linear-gradient( 263deg, $blanc 0%, $orangeclair 100% );
}



